<%= form_for(@album) do |f| %>
  <form class="form-horizontal">
    <% if @album.errors.any? %>
      <div class="form-group" id="error_explanation">
        <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>
        <ul>
        <% @album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br>
    <div class="panel-body">
    <div class="form-group">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-6 col-md-offset-4">
        <!-- <label for="thumbnail" >Thumbnail:</label> -->
        <div class="carrier-wave-field"><%= f.file_field :thumbnail , title: "Thumbnail" , class: "form-control input-sm" %><br></div>

        <%= f.text_field :title , class: "form-control input-sm" , placeholder: "Title" %><br>

        <%= f.text_area :description , class: "form-control input-sm" , placeholder: "Description"%><br>

        <div class="actions">
          <div class="col-sm-offset-1">
            <%= submit_tag "Create Album", :class => "login-btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
  </form>
<% end %>
<style>
  .carrier-wave-field input {
    color: white;  /*or whatever you want to change*/
}
</style>