<%= form_for(@album) do |f| %>
<form class="form-horizontal">
  <% if @album.errors.any? %>
    <div class="form-group" id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>
      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="form-group">
    <label for="thumbnail" class="col-sm-1 control-label">Thumbnail:</label>
    <%= f.file_field :thumbnail %>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-1 control-label">Title:</label>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-1 control-label">Description:</label> 
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <div class="col-sm-offset-1 col-sm-30">
      <!-- <button class="btn btn-default" type="submit"><%= f.submit %></button> -->
      <%= submit_tag "Create Album", :class => "login-button" %></p>
    </div>
  </div>
<% end %>
</form>