<p id="notice"><%= notice %></p>

<p>
  <strong>Thumbnail:</strong>
  <%= image_tag @album.thumbnail_url(:small) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Album Index', albums_path %><br><br>

<!-- <p>
	<strong>Gallery :</strong>
	

</p> -->

<%= link_to 'Gallery' , album_images_path(@album,@image) %><br><br>
<% @album.images.each do |image| %>
  <%= link_to [@album, image] do %>
    <%= image_tag image.image_url(:thumb) %>
  <% end %>
<% end %>
<br><br>
<p><%= link_to 'Upload new photo', new_album_image_path(@album) %></p>