<%= form_for [@album,@image] do |f| %>
  <form class="form-horizontal">
  <% if @image.errors.any? %>
    <div class="form-group" id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-6 col-md-offset-4">
        <%= f.text_field :name , class: "form-control input-sm" , placeholder: "Name" %><br>
        <%= f.file_field :image , class: "form-control input-sm" , placeholder: "Name" %><br>
        <% if f.object.image? %>
          <%= image_tag f.object.image_url(:small) %>
          <%= f.check_box :remove_image %> 
          <%= f.label :remove_image %>
        <% end %>
        <br>
        <br>
        <div class="actions">
          <%= submit_tag "Create Image", :class => "login-button btn-info" %>
        </div>
      </div>
    </div>
  </div>
  </form>
<% end %>